<!--<div class="mt-24 flex overflow-hidden rounded-xl bg-black/[3%] text-lg !leading-[1.2] *:flex *:w-1/2 *:items-center *:p-5 *:font-medium *:no-underline dark:bg-white/[8%] [&>*:hover]:bg-black/[2%] dark:[&>*:hover]:bg-white/[3%]">

	* Wenn du über einen Link auf dieser Seite ein Produkt kaufst, erhalte ich oftmals eine kleine Provision als Vergütung. 
	Für dich entstehen dabei keinerlei Mehrkosten und dir bleibt frei, wo du bestellst. Diese Provisionen haben in keinem Fall Auswirkungen auf unsere Beiträge. 
	Zu den Partnerprogrammen und Partnerschaften gehört unter anderem das Amazon PartnerNet. Als Amazon-Partner verdienen wir an qualifizierten Verkäufen.

</div>-->
<section>
	<div class="relative mx-auto max-w-[--w] px-5 py-5 flex rounded-xl bg-black/[3%] *:flex *:w-1/2 *:items-center *:p-5 *:font-medium *:no-underline dark:bg-white/[8%] [&>*:hover]:bg-black/[2%] dark:[&>*:hover]:bg-white/[3%]">

	* Wenn du über einen Link auf dieser Seite ein Produkt kaufst, erhalte ich oftmals eine kleine Provision als Vergütung. 
		Für dich entstehen dabei keinerlei Mehrkosten und dir bleibt frei, wo du bestellst. Diese Provisionen haben in keinem Fall Auswirkungen auf unsere Beiträge. 
		Zu den Partnerprogrammen und Partnerschaften gehört unter anderem das Amazon PartnerNet. Als Amazon-Partner verdienen wir an qualifizierten Verkäufen.
	</div>
</section>

<footer
  class="opaco mx-auto flex h-[4.5rem] max-w-3xl items-center px-8 text-[0.9em] opacity-60"
>

  <div class="mr-auto">
    &copy; {{ now.Year }}
    <a class="link" href="{{ `` | absURL }}">{{ site.Title }}</a>
  </div>
  <a class="link mx-6" href="https://gohugo.io/" rel="noopener" target="_blank"
    >Powered by Hugo️️</a
  >️
  <a
    class="link"
    href="https://github.com/nanxiaobei/hugo-paper"
    rel="noopener"
    target="_blank"
    >✎ Paper</a
  >
</footer>
